.archives-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $margin-m-1;
  margin-bottom: $margin-l-0;
}
.archives-toolbar #archive-search {
  min-width: 12rem;
  padding: $margin-m-0 $margin-m-1;
  border: 1px solid $color-text-secondary;
  border-radius: 4px;
}
.archives-toolbar #archive-sort {
  padding: $margin-m-0 $margin-m-1;
  border: 1px solid $color-text-secondary;
  border-radius: 4px;
}
.archive-no-results {
  color: $color-text-secondary;
  margin-top: $margin-l-0;
}
.year-title {
  margin-top: $margin-primary;
  margin-bottom: $margin-m-1;
}
.month-title {
  margin-top: $margin-m-1;
  margin-bottom: $margin-m-1;
  margin-left: $margin-l-0;
  font-variation-settings: 'wght' $font-weight-medium;
  color: $color-text-secondary;
}
.post-list-item {
  display: flex;
  flex-wrap: nowrap;
  margin-top: $margin-m-1;
  align-items: top;
}
.post-list-item .post-title {
  flex-grow: 1;
  font-variation-settings: 'wght' $font-weight-medium;
}
.post-list-item .post-date {
  margin-left: $margin-l-0;
  min-width: 8rem;
  text-align: right;
  line-height: $line-height-body;
  color: $color-text-secondary;
}
@media (max-width: 480px) {
  .post-list-item {
    flex-wrap: wrap;
  }
  .post-list-item .post-title {
    width: 100%;
  }
  .post-list-item .post-date {
    margin-left: 0;
    width: 100%;
    text-align: left;
  }
}
